<section class="contact-form">
  <div class="wrapper">
    <h3>We’d love to <span>hear</span><br />from you!</h3>
    <p>Contact us using our forms, by email or just give us a call.</p>
    <div class="info">
      <ul>
        <li>
          <a href="#"
            ><span class="img-wrapper form"><img src="./imgs/form.svg" alt="Form" /></span>
            <span>PERSONNEL SEARCH FORM</span></a
          >
        </li>
        <li>
          <a href="#"
            ><span class="img-wrapper form"><img src="./imgs/form.svg" alt="Form" /></span>
            <span>APPLICATION FORM</span></a
          >
        </li>
        <li>
          <a href="#"
            ><span class="img-wrapper"><img src="./imgs/email.svg" alt="Email" /></span>
            <span>generaldd@email.com</span></a
          >
        </li>
        <!-- <li><div class="img-wrapper"><img src="./imgs/tel.svg" alt="Tel"></div><span>+49 000 000 00 00</span></li> -->
      </ul>
    </div>
  </div>
</section>
