<section class="contact-us">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2429.4025995269394!2d13.3871979!3d52.4899515!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a85027dcd02179%3A0xfed30b2bdf97c71!2sDESIGNERDOCK%20Berlin%20GmbH!5e0!3m2!1sen!2seg!4v1608678229153!5m2!1sen!2seg"
      width="600" height="450" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
  <div class="contact-us-content">
    <div class="contact-us-info">
      <div>
        <h2>@@title</h2>
        <div class="address">
          <h4>Address</h4>
          <p>DESIGNERDOCK Headquarters Ltd. Bergmannstraße 102 10961 Berlin</p>
        </div>
        <div class="links">
          <a href="#"><span>How to find us?</span><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          <a href="#"><span>View on GoogleMaps</span><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <ul class="contact-info">
        <li>
          <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>030 69 59 66 19</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>030 69 59 66 12</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@designerdock.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>