<div class="block-job">
    <div class="block-job__container">
        <div class="block-job__title">jobs</div>
        <div class="block-job__sub">Werbung. design. digital. Wir haben sie!</div>
    </div>
    <div class="block-job__slider">
        <div class="block-job__slider-container">
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/uxdesign.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">UX DESIGN</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/visual.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">visual</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/accountmanagement.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">accountmanagement</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/artdirection.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">artdirection</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/artwork.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">artwork</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/coding.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">coding</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/copywriting.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">copywriting</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/graphicdesign.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">graphic design</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/marketing.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">marketing</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/packaging.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">packaging</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/projectman.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">projectman</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>
            <div class="block-job__slider-item">
                <div class="job-card">
                    <div class="job-card__header">
                        <img src="./imgs/strategy.png" alt="logo" class="job-card__logo">
                    </div>
                    <div class="job-card__body">
                        <div class="job-card__title">strategy</div>
                        <div class="job-card__sub">29 Stellen in 6 Städte</div>
                        <div class="job-card__line"></div>
                        <div class="job-card__tag">ANSCHAUEN</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="block-job__container block-job__container--btns">
        <button class="block-job__btn">309 WEITERE JOBS</button>
    </div>
</div>