<section class="section-talk">
  <ul>
    <li>
      <span class="section-talk-town">BERLIN</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town">DÜSSELDORF</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town">FRANKFURT</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town">HAMBURG</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town">MÜNCHEN</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town">STUTTGART</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town">WIEN</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town">BERLIN</span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </div>
    </li>
  </ul>
  <h2><span class="section-talk-wanna">WANNA</span><br /><span class="section-talk-talk">TALK?</span></h2>
  <form action="">
    <select class="js-example-basic-single form-control" name="state">
      <option value="2">BERLIN</option>
      <option value="3">DÜSSELDORF</option>
      <option value="3">FRANKFURT</option>
      <option value="3">HAMBURG</option>
      <option value="3">MÜNCHEN</option>
      <option value="3">STUTTGART</option>
      <option value="3">WIEN</option>
    </select>
  </form>
</section>