<section class="section-talk">
  <ul>
    <li>
      <span class="section-talk-town"><a href="#">BERLIN</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town"><a href="#">DÜSSELDORF</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town"><a href="#">FRANKFURT</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town"><a href="#">HAMBURG</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town"><a href="#">MÜNCHEN</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town"><a href="#">STUTTGART</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town"><a href="#">WIEN</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
    <li>
      <span class="section-talk-town"><a href="#">BERLIN</a></span>
      <div class="talk-icons">
        <div class="icon-wrapper">
          <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper">
          <a href="city-office.html#contactUs"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
  </ul>
  <h2><span class="section-talk-wanna">WANNA</span><br /><span class="section-talk-talk">TALK?</span></h2>
  <form action="">
    <select class="js-example-basic-single form-control" name="state">
      <option value="" disabled selected>Choose your city</option>
      <option value="2">BERLIN</option>
      <option value="3">DÜSSELDORF</option>
      <option value="3">FRANKFURT</option>
      <option value="3">HAMBURG</option>
      <option value="3">MÜNCHEN</option>
      <option value="3">STUTTGART</option>
      <option value="3">WIEN</option>
    </select>
  </form>
</section>
