.about {
  header {
    position: relative;
    height: 467px;
    background-size: cover;
    background-position: center;
    @include flexCenter;

    h1 {
      position: relative;
      z-index: 2;
      margin-top: 88px;
      color: $white;
      font-size: 58px;
      font-family: ParBold;
      text-transform: uppercase;
    }
  }

  .specialized-service {
    width: 46%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 87px;
    line-height: 1.8;

    h2 {
      margin-bottom: 30px;
      font-size: 35px;
      text-align: center;
      text-transform: uppercase;

      span {
        color: $primary-color;
      }
    }

    .service-description,
    .industry-description {
      @include fontSize(20px);
    }

    h3 {
      text-align: center;
      @include fontSize(44px);
      @include margin(top, 122px);
      @include margin(bottom, 138px);

      span {
        position: relative;

        &::after {
          content: '';
          border-bottom: 6px solid #b1c110;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 3px;
          z-index: -1;
        }
      }
    }

    .industry-description {
      @include margin(bottom, 54px);
    }
  }

  .backgound-img-fluid {
    position: relative;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .overlay {
      @include overlay;
    }

    h2 {
      position: relative;
      z-index: 2;
      color: $red;
      font-size: 70px;
    }
  }

  .work {
    width: 46%;
    margin: 0 auto;
    padding: 90px 0 87px;

    h3 {
      font-size: 35px;
      text-align: center;
      text-transform: uppercase;

      span {
        color: $primary-color;
      }
    }

    p {
      margin: 25px 0 47px;
      @include fontSize(20px);
      line-height: 1.8;
    }
  }

  .between-personal {
    @include flexCenter;
  }

  .btn {
    border-radius: 10px;
    font-family: ParBold;
    @include flexCenter;
    @include width(235px);
    @include height(60px);
    @include fontSize(16px);
  }

  .between {
    margin-right: 10px;
    background-color: $primary-color;
    border: 1px solid $primary-color;

    a {
      color: $white;
    }
  }

  .personal {
    background-color: $transparent;
    border: 1px solid $dark-gray;

    a {
      color: $dark-gray;
    }
  }

  .contact-form {
    background-color: $hear-background;
    color: $white;

    .wrapper {
      width: 46%;
      margin: 0 auto;
      padding: 85px 0 62px;
    }

    h3 {
      padding-right: 8px;
      text-transform: uppercase;
      text-align: center;
      line-height: 52px;
      @include fontSize(60px);

      span {
        color: $primary-color;
      }
    }

    p {
      margin: 15px 0 52px;
      color: $white;
      text-align: center;
      @include fontSize(25px);
    }

    .info {
      ul {
        @include flexColumnCenter;
      }

      li {
        width: 235px;
        height: 50px;
        margin-bottom: 10px;
        padding-left: 14px;
        border: 1px solid $primary-color;
        border-radius: 6px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .img-wrapper {
        width: 15px;
        margin-right: 10px;

        &.form {
          height: 30px;
        }
      }

      span {
        color: $primary-color;
        font-family: ParBold;
        @include fontSize(21px);
      }
    }
  }
}
