.about {
  header {
    position: relative;
    height: 467px;
    background-size: cover;
    background-position: center;
    @include flexCenter;

    h1 {
      position: relative;
      z-index: 2;
      margin-top: 88px;
      color: $white;
      font-size: 58px;
      font-family: ParBold;
      text-transform: uppercase;
    }
  }

  .specialized-service {
    width: 46%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 87px;
    line-height: 1.8;

    h2 {
      margin-bottom: 30px;
      font-size: 35px;
      text-align: center;
      text-transform: uppercase;

      span {
        color: $primary-color;
      }
    }

    .service-description,
    .industry-description {
      color: #9c9c9c;
      @include fontSize(20px);
    }

    h3 {
      text-align: center;
      @include fontSize(44px);
      @include margin(top, 122px);
      @include margin(bottom, 138px);

      span {
        position: relative;

        &::after {
          content: '';
          border-bottom: 6px solid #b1c110;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 3px;
          z-index: -1;
        }
      }
    }

    .industry-description {
      @include margin(bottom, 54px);
    }
  }

  .backgound-img-fluid {
    position: relative;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .overlay {
      @include overlay;
    }

    h2 {
      position: relative;
      z-index: 2;
      color: $red;
      font-size: 70px;
    }
  }

  .work {
    width: 46%;
    margin: 0 auto;
    padding: 90px 0 87px;

    h3 {
      font-size: 35px;
      text-align: center;
      text-transform: uppercase;

      span {
        color: $primary-color;
      }
    }

    p {
      margin: 25px 0 47px;
      @include fontSize(20px);
      line-height: 1.8;
    }
  }

  .between-personal {
    @include flexCenter;
  }

  .btn.between,
  .btn.personal {
    border-radius: 10px;
    font-family: ParBold;
    @include flexCenter;
    @include width(235px);
    @include height(60px);
    @include fontSize(16px);
  }

  .between {
    margin-right: 10px;
    background-color: $primary-color;
    border: 1px solid $primary-color;

    a {
      color: $white;
    }
  }

  .personal {
    background-color: $transparent;
    border: 1px solid $dark-gray;

    a {
      color: $dark-gray;
    }
  }
}
