.find-job {
  header {
    position: relative;
    height: 565px;
    padding-top: 22%;
    color: $white;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;

    .header-content {
      position: relative;
      z-index: 2;

      .fa-search {
        position: absolute;
        top: 27px;
        left: 20px;
        z-index: 4;
        color: $gray;
      }
    }

    .header-info {
      margin-bottom: 42px;
    }

    h1 {
      margin-bottom: 4px;
      font-size: 54px;
    }

    p {
      color: $white;
    }

    .form-group {
      margin-bottom: 0;
      display: flex;

      .btn {
        width: 174px;
        height: 70px;
        margin-left: 4px;
        background-color: $primary-color;
        color: #fff;
        border-radius: 8px;
      }
    }

    .input-search {
      width: 300px;
      height: 70px;

      .form-control {
        padding-left: 55px;
        color: $dark-gray;
        border-radius: 8px 0 0 8px;
        border: 0;
      }

      ::placeholder {
        color: $gray;
      }

      &:after {
        content: '';
        position: absolute;
        top: 15px;
        right: 0px;
        z-index: 4;
        border: 1px solid $gray;
        height: 40px;
      }
    }

    .select-options {
      position: relative;

      .fa-angle-down {
        position: absolute;
        top: 27px;
        right: 25px;
        color: $gray;
      }

      &:after {
        content: '';
        position: absolute;
        top: 15px;
        right: 0px;
        z-index: 4;
        border: 1px solid $gray;
        height: 40px;
      }
    }

    .custom-select {
      height: 70px;
      padding: 0 45px;
      background: $white;
      color: $gray;
      border: 0;
      border-radius: 0;
    }

    .caterogies {
      .custom-select {
        padding: 0 40px 0 30px;
      }

      .fa-angle-down {
        right: 25px;
      }
    }

    .input-checkbox {
      width: 180px;
      height: 70px;

      .input-group-prepend,
      .input-group-text {
        width: 100%;
      }

      .input-group-text {
        background-color: $white;
        color: $gray;
        border: 0;
        border-radius: 0 8px 8px 0;
        display: flex;
        justify-content: center;
      }
    }

    input[type='checkbox'] {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      outline: none;
      content: none;
    }

    input[type='checkbox']:before {
      font-family: 'FontAwesome';
      content: '\f00c';
      font-size: 11px;
      color: transparent !important;
      background: transparent;
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid $gray;
      margin-right: 7px;
    }

    input[type='checkbox']:checked:before {
      color: $primary-color !important;
    }

    .clear-option {
      margin: 6px 180px 0 0;
      font-size: 10px;
      text-align: right;
      cursor: pointer;
    }
  }

  .jobs-content {
    padding: 68px 8% 90px;

    .jobs-title {
      margin-bottom: 38px;
      @include flexBetween;
    }

    h3 {
      font-size: 34px;
    }

    .clipboard-btn {
      width: 234px;
      height: 41px;
      border: 1px solid $primary-color;
      border-radius: 10px;
      @include flexCenter;

      .img-wrapper {
        width: 14px;
        margin: 0 10px 2px 0;
      }

      span {
        color: $primary-color;
        font-size: 11px;
      }
    }

    .Jobs-category {
      margin-bottom: 45px;

      .img-wrapper {
        width: 18px;
        margin: 0 40px;
      }

      li {
        height: 70px;
        padding: 0 20px;
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
      }
    }

    .item {
      position: relative;
      width: 65%;
      font-size: 21px;

      &:after {
        content: '';
        position: absolute;
        top: -5px;
        right: 20px;
        z-index: 4;
        border: 1px solid $gray;
        height: 40px;
      }
    }

    .conturies {
      width: 35%;
      @include flexBetween;
    }

    .country,
    .code {
      font-size: 22px;
    }

    .code  {
      color: $gray;
    }

    .country-info {
      display: flex;
      align-items: center;
    }

    .fa-angle-right {
      font-size: 20px;
      font-weight: 600;
    }

    .btn-wrapper {
      @include flexCenter;
    }

    .more-jobs {
      width: 210px;
      height: 50px;
      background-color: $primary-color;
      color: $white;
      font-size: 13px;
      border-radius: 10px;
    }
  }
}
