.find-job {
  header {
    position: relative;
    height: 566px;
    padding-top: 275px;
    color: $white;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;

    .header-content {
      width: 80%;
      margin: 0 auto;
      position: relative;
      z-index: 2;

      .fa-search {
        position: absolute;
        top: 27px;
        left: 20px;
        z-index: 4;
        color: $gray;
      }
    }

    .header-info {
      margin-bottom: 40px;
    }

    h1 {
      margin-bottom: 8px;
      font-size: 54px;
    }

    p {
      color: $white;
    }

    .form-group {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 0;
      @include flexBetween;

      .btn {
        width: 174px;
        height: 70px;
        margin-left: 4px;
        background-color: $primary-color;
        color: #fff;
        border-radius: 8px;
      }
    }

    .form-group-input {
      width: calc(100% - 178px);
      display: flex;
    }

    .input-search {
      width: 40%;
      height: 70px;

      .form-control {
        padding-left: 55px;
        color: $dark-gray;
        border-radius: 8px 0 0 8px;
        border: 0;
      }

      ::placeholder {
        color: $gray;
      }

      &:after {
        content: '';
        position: absolute;
        top: 15px;
        right: 0px;
        z-index: 4;
        border: 1px solid $gray;
        height: 40px;
      }
    }

    .select-options-group {
      width: 40%;
      display: flex;
    }

    .select-options {
      width: 50%;
      position: relative;

      .fa-angle-down {
        position: absolute;
        top: 27px;
        right: 25px;
        color: $gray;
      }

      &:after {
        content: '';
        position: absolute;
        top: 15px;
        right: 0px;
        z-index: 4;
        border: 1px solid $gray;
        height: 40px;
      }
    }

    .custom-select {
      height: 70px;
      padding: 0 50px 0 40px;
      background: $white;
      color: $gray;
      border: 0;
      border-radius: 0;
    }

    .caterogies {
      .custom-select {
        padding: 0 40px 0 15px;
      }

      .fa-angle-down {
        right: 25px;
      }
    }

    .input-checkbox {
      width: 30%;
      height: 70px;

      .input-group-prepend,
      .input-group-text {
        width: 100%;
      }

      .input-group-text {
        background-color: $white;
        color: $gray;
        border: 0;
        border-radius: 0 8px 8px 0;
        display: flex;
        justify-content: center;
      }
    }

    input[type='checkbox'] {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      outline: none;
      content: none;
    }

    input[type='checkbox']:before {
      font-family: 'FontAwesome';
      content: '\f00c';
      font-size: 11px;
      color: transparent !important;
      background: transparent;
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid $gray;
      margin-right: 7px;
    }

    input[type='checkbox']:checked:before {
      color: $primary-color !important;
    }

    .clear-option {
      width: 82%;
      margin-top: 7px;
      font-size: 10px;
      text-align: right;
      cursor: pointer;
    }

    .form-group-button {
      display: flex;
      justify-content: flex-end;
    }

    .tab-clear-option,
    .filter-section {
      display: none;
    }
  }

  .jobs-content {
    width: 80%;
    margin: 0 auto;
    padding: 66px 0 91px;

    .jobs-title {
      margin-bottom: 40px;
      @include flexBetween;
    }

    h2 {
      font-size: 34px;
    }

    .clipboard-btn {
      width: 234px;
      height: 41px;
      padding: 0 19px;
      border: 1px solid $primary-color;
      border-radius: 10px;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      .img-wrapper {
        width: 14px;
        margin: 0 10px 5px 0;
      }

      span {
        color: $primary-color;
        font-size: 11px;
      }
    }

    .Jobs-category {
      margin-bottom: 53px;

      .img-wrapper {
        width: 18px;
        margin: 0 30px;
        display: flex;
    align-items: center;

        .fa {
          color: #b1c110;
          font-size: 20px;
          cursor: pointer;
        }

        .fa-star {
          display: none;
        }
      }

      li {
        height: 70px;
        padding: 0 20px;
        margin-bottom: 21px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
      }
    }

    .item-link {
      color: #000;
      display: contents
    }

    .item {
      position: relative;
      overflow: hidden;
      width: 60%;
      color: #000;
      font-size: 21px;
      white-space: nowrap;

      &:after {
        content: '';
        position: absolute;
        top: -5px;
        right: 0;
        z-index: 4;
        border: 1px solid $gray;
        height: 40px;
      }
    }

    .conturies {
      width: 40%;
      padding-left: 20px;
      @include flexBetween;
    }

    .country,
    .code {
      font-size: 22px;
    }

    .code  {
      color: $gray;
    }

    .country-info {
      display: flex;
      align-items: center;
    }

    .fa-angle-right {
      font-size: 20px;
      font-weight: 600;
    }

    .btn-wrapper {
      @include flexCenter;
    }

    .more-jobs {
      width: 210px;
      height: 50px;
      background-color: $primary-color;
      color: $white;
      font-size: 13px;
      border-radius: 10px;
      text-transform: uppercase;
    }

    .mob-clipboard-btn {
      display: none;
    }
  }
}
