.homepage {
  header {
    position: relative;
    height: 749px;
    background-size: cover;
    background-position: center;
    @include flexCenter;

    .crumb {
      display: none;
    }

    .header-content {
      width: 96%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      ul {
        margin-bottom: 22.5px;
        border-radius: 6px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        a {
          width: 100%;
          height: 73.06px;
          background-color: #697377;
          color: #fff;
          font-size: 16px;
          font-family: ParMedium;
          @include flexCenter;
        }

        li {
          border-right: 1px solid #fff;

          &:last-child {
            border: 0;

            a {
              border-radius: 0 6px 6px 0;
            }
          }

          &:first-child a {
            border-radius: 6px 0 0 6px;
          }
        }
      }
    }

    .header-content-info {
      margin-left: 7%;
    }

    h1 {
      color: #ffffff;
      font-size: 53px;
      line-height: 51px;

      span {
        color: #b1c110;
        display: block;
      }
    }

    p {
      color: #f7f7f7;
      font-size: 12.5px;
      font-family: ParMedium;
    }

    .editing-section {
      margin: 10px 0 42.08px;
      display: flex;
    }

    .editing {
      width: 197px;
      height: 52.78px;
      margin-right: 28.56px;
      background-color: #b1c110;
      color: #ffffff;
      font-size: 17px;
      text-transform: uppercase;
      font-family: ParBold;
      box-shadow: 0 3px 15px #b1c110b3;
      @include flexCenter;
    }

    .editing-section-links {
      display: flex;
      flex-direction: column;

      span {
        color: #ffffff;
        font-size: 13px;
        border-bottom: 1px solid #e1017a;
        font-family: ParMedium;

        &:hover {
          color: #b1c110;
        }
      }

      .fa {
        margin-left: 17.34px;
        color: #e1017a;
        font-size: 13px;
      }
    }

    .choose-your-city {
      display: none;
    }
  }

  .marking-design {
    width: 85%;
    margin: 0 auto;
    padding: 161px 0;
    display: grid;
    grid-template-columns: 50% 50%;

    .marking-design-slider {
      width: 100%;
      height: 413px;

      img {
        width: 100%;
        height: 413px;
        cursor: grab;
      }

      .fa {
        position: absolute;
        top: 48%;
        z-index: 3;
        width: 43px;
        height: 43px;
        background-color: #ffffff;
        color: #e1017a;
        font-size: 20px;
        border-radius: 50%;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.29);
        cursor: pointer;
        @include flexCenter;

        &.fa-angle-left {
          left: -22px;
        }

        &.fa-angle-right {
          right: -22px;
        }
      }
    }

    .slick-active:focus {
      outline: 0;
    }

    .marking-design-content {
      padding-left: 90px;
    }

    h2 {
      margin-bottom: 30px;
      color: #000000;
      font-size: 34px;
      font-family: ParMedium;
      line-height: 44px;

      span {
        color: #b1c110;
      }
    }

    p {
      color: #717171;
      font-size: 14px;
      line-height: 24px;

      &:first-of-type {
        margin-bottom: 28px;
      }
    }
  }

  .applicants-customers-wrapper {
    padding: 76px 0;
    background-color: #b1c100;

    .applicants-customers-container {
      width: 85%;
      margin: 0 auto;
    }

    .applicants,
    .customers {
      position: relative;
      overflow: hidden;
      display: grid;
      grid-template-columns: 50% 50%;
      box-shadow: 0 3px 40px rgba(0, 0, 0, 0.26);
      border-radius: 6px;
    }

    .applicants {
      margin-bottom: 70px;
    }

    .block {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .applicants-wrapper,
    .customers-wrapper {
      overflow: hidden;
    }

    .img-parallax {
      position: absolute;
      left: 50%;
      top: -100px;
      z-index: 3;
      width: 120%;
      height: 100vh;
      transform: translate(-50%, 0);
      pointer-events: none;
    }

    .customers-img {
      width: 100%;
    }

    .applicants-info,
    .customers-info {
      padding: 30px 40px;
      background-color: #ffffff;
    }

    h3 {
      margin-bottom: 22px;
      color: #000000;
      font-size: 30px;
      font-family: ParMedium;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 7px;
      color: #717171;
      font-size: 14px;
      line-height: 22px;
    }

    .link {
      margin-bottom: 20px;
      color: #e1017a;
      font-size: 14px;
      display: block;

      .fa {
        margin-left: 8px;
      }
    }

    .applicants-customers-btn {
      display: flex;
    }

    .btn {
      width: 165px;
      height: 42px;
      font-size: 11px;
      font-family: ParBold;
      border-radius: 6px;
      text-transform: uppercase;
      @include flexCenter;

      &.primary {
        margin-right: 10px;
        background-color: #b1c110;
        color: #ffffff;
        border: 1px solid #b1c110;
      }

      &.secondary {
        background-color: #ffffff;
        color: #717171;
        border: 1px solid #969696;
      }
    }
  }

  .mask-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: none;
  }
}

// Media Query
@media (max-width: 1250px) {
  .homepage {
    .marking-design .marking-design-content {
      padding-left: 60px;
    }
  }
}

@media (max-width: 1199px) {
  .homepage {
    .marking-design {
      width: 90%;

      .marking-design-content {
        padding-left: 35px;
      }
    }

    .applicants-customers-wrapper .applicants-customers-container {
      width: 90%;
    }
  }
}

@media (max-width: 1024px) {
  .homepage {
    header {
      height: 1007px;

      .header-content-info {
        margin: 0;
        text-align: center;
        @include flexColumnCenter;
      }

      .editing-section-links,
      .header-content ul {
        display: none;
      }

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 14px;
      }

      .editing {
        margin-right: 0;
      }

      .editing-section {
        margin: 10px 0 29.07px;
      }

      .choose-your-city {
        display: block;
        margin-bottom: 64.23px;
      }

      .select2-container .select2-selection--single {
        height: 70.05px;
        background: #6c767a;
        border: 0;
        border-radius: 5px;

        .select2-selection__rendered {
          color: #fff;
          font-size: 23px;
        }
      }

      .select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
        border-radius: 5px !important;
      }

      .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-left: -20px;
        border-color: #b1c100 transparent transparent transparent;
        border-width: 10px 9px 0 9px;
      }

      .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #b1c100 transparent;
        border-width: 0 9px 10px 9px;
      }
    }

    .marking-design {
      padding: 67px 0;
      display: flex;
      flex-direction: column;

      .marking-design-slider {
        order: 2;
      }

      .marking-design-content {
        margin-bottom: 49px;
        padding-left: 0;
        order: 1;
        text-align: center;
      }

      h2 {
        margin-bottom: 24px;
        font-size: 35px;
      }
    }

    .applicants-customers-wrapper {
      padding: 70px 0;

      .applicants-info,
      .customers-info {
        padding: 30px;
      }

      h3 {
        margin-bottom: 14px;
        font-size: 25px;
      }

      .applicants-customers-btn {
        display: block;

        .btn {
          width: 100%;
          margin-bottom: 8.93px;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .block-job__btn {
    width: 272px;
  }

  .select2-dropdown--above,
  .select2-dropdown--below {
    border-radius: 5px !important;
  }
}

@media (max-width: 767px) {
  .homepage {
    header {
      height: 766px;

      h1 {
        font-size: 36px;
        line-height: 44px;
      }

      p {
        display: none;
      }

      .editing {
        width: 250px;
        height: 60px;
        font-size: 20px;
      }

      .editing-section {
        margin: 9px 0 54px;
      }

      .choose-your-city {
        margin-bottom: 11px;
      }
    }

    .marking-design {
      padding: 67px 0;

      .marking-design-content {
        margin-bottom: 30px;
      }

      h2 {
        font-size: 24px;
        line-height: 33px;
      }

      .marking-design-slider .fa {
        width: 32px;
        height: 32px;

        &.fa-angle-right {
          right: -16px;
        }

        &.fa-angle-left {
          left: -16px;
        }
      }
    }

    .applicants-customers-wrapper {
      padding: 67px 0;

      .block {
        display: none;
      }

      .applicants,
      .customers {
        display: block;
      }

      .applicants {
        margin-bottom: 50px;
      }

      .applicants-info,
      .customers-info {
        padding: 49px 30px;
      }

      h3 {
        margin-bottom: 24px;
        font-size: 28px;
        text-align: center;
      }

      p {
        font-size: 16px;
      }

      .link {
        font-size: 20px;
      }

      .applicants-customers-btn {
        .btn {
          height: 60px;
          margin-bottom: 15px;
          font-size: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .select2-results__option {
    font-size: 20px;
  }

  .block-job .block-job__btn {
    width: 270px;
    height: 72px;
    font-size: 20px;
  }

  .select2-dropdown--above,
  .select2-dropdown--below,
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-radius: 5px !important;
  }
}
