.personal-search {
  header {
    @include flexCenter;
  }

  .search-section {
    position: relative;
    padding: 208px 0 119px;

    .background-image-banner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      height: 600px;
      background-size: cover;
      background-position: center;
    }

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      background-image: linear-gradient(#abaea3, #b1c100, #b1c100, #b1c100, #b1c100);
      opacity: 0.7;
    }

    .search-section-wrapper {
      width: 80%;
      margin: 0 auto;
    }

    .search-title {
      margin-bottom: 59px;
      text-align: center;

      p {
        margin-bottom: 3px;
        color: #ffffff;
        font-size: 14px;
        line-height: 24px;
      }

      a {
        color: #939393;
        font-size: 11px;
      }
    }

    h1 {
      margin-bottom: 14px;
      color: #ffffff;
      font-size: 56px;
    }

    .form-group {
      margin-bottom: 35px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 35px;

      &:nth-of-type(7) {
        margin-bottom: 0;
      }
    }

    .form-item {
      position: relative;

      .fa {
        position: absolute;
        right: 15px;
        bottom: 13px;
        font-weight: 700;
      }

      .fa-angle-up {
        display: none;
      }
    }

    .form-position {
      display: block;
    }

    label {
      margin-bottom: 5px;
      color: #ffffff;
      font-size: 14px;
      display: block;

      span {
        color: #ff2d2d;
      }
    }

    .form-control {
      height: 45px;
      border-radius: 10px;
      box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);

      &::placeholder {
        color: #cecece;
        font-size: 14px;
      }
    }

    .form-textarea {
      height: 106px;
      resize: none;
    }

    .btn-wrapper {
      @include flexCenter;
    }

    .form-send {
      margin-top: 59px;
      width: 211px;
      height: 51px;
      background-color: #ffffff;
      color: #b1c100;
      font-size: 14px;
      border-radius: 10px;
      box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    }
  }
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 45px;
  padding: 0 5px;
  border-radius: 10px;
  outline: none;
}

.select2-selection__rendered {
  height: 100%;
  display: flex !important;
  align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 30px;
  height: 100%;
}

select.form-control:not([size]):not([multiple]) {
  height: 45px;
}

.select2-search__field {
  display: none;
}

.select2-dropdown--below,
.select2-dropdown--above {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#abaea3, #b1c100, #abaea3, #b1c100, #abaea3, #b1c100);
  color: #fff;
  border: 0;
  border-radius: 10px !important;
}

.select2-dropdown--below {
  margin-top: 5px;
}

.select2-dropdown--above {
  margin-top: -5px;
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #2f2f2f;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-results__option {
  padding: 15px 10px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 460px;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 10px !important;
}

// Media Query
@media (max-width: 1024px) {
  .personal-search {
    .search-section {
      padding: 199px 0 152px;

      h1 {
        font-size: 55px;
      }

      .search-title {
        margin-bottom: 24px;
      }

      .form-group {
        margin-bottom: 18px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
      }

      label {
        margin-bottom: 8px;
      }

      .form-control {
        height: 49px;
      }

      .form-textarea {
        height: 106px;
      }
    }
  }

  .personal-search .search-section .select2-container .select2-selection--single {
    height: 49px;
  }
}

@media (max-width: 767px) {
  .personal-search {
    .search-section {
      padding: 253px 0 62px;

      .search-section-wrapper {
        width: 90%;
      }

      h1 {
        font-size: 36px;
      }

      .search-title p {
        line-height: 27px;

        br {
          display: none;
        }
      }

      .search-title {
        margin-bottom: 47px;
      }

      label {
        margin-bottom: 7px;
        font-size: 20px;
      }

      .form-control {
        height: 70px;
      }

      .form-group {
        margin-bottom: 31px;
        grid-gap: 31px;
      }

      .form-textarea {
        height: 151px;
      }

      .form-send {
        width: 100%;
        height: 80px;
        font-size: 24px;
      }
    }
  }

  .select2-container .select2-selection--single {
    width: 100%;
    height: 70px !important;
  }
}
