@media (max-width: 1199px) {
  .about {
    .work,
    .hear .wrapper {
      width: 60%;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    header {
      height: 338px;

      h1 {
        margin-top: 70px;
      }

      .navbar {
        top: 15px;
      }

      .mob-search .fa {
        @include fontSize(27px);
      }

      .crumb,
      .lang-switch {
        display: none;
      }

      .headsearch {
        form {
          height: 60px;
          @include flexCenter;
        }

        .form-search {
          display: none;
        }

        .mob-search {
          color: $light-gray;
          display: block;
          cursor: pointer;
        }
      }
    }

    .specialized-service {
      width: 80%;
      padding: 45px 0 62px;

      p {
        width: 83%;
        margin: 0 auto;
      }

      h3 {
        margin: 57px 0 65px;
      }

      .industry-description {
        margin-bottom: 35px;
      }
    }

    .btn {
      @include height(72px);
      @include fontSize(20px);
    }

    .parallex {
      padding-left: 0;
      @include flexCenter;
    }

    .work {
      padding: 70px 0 60px;

      p {
        width: 83%;
        margin: 25px auto 47px;
      }
    }

    .hear {
      .wrapper {
        padding: 87px 0 90px;
      }

      h3 {
        @include fontSize(50px);
      }

      p {
        margin: -2px 0 60px;
      }
    }

    footer {
      padding: 45px 60px;
      flex-wrap: wrap;

      .links {
        display: flex;
        justify-content: center;
      }

      .social-media {
        display: flex;
        justify-content: flex-end;
      }

      .logo,
      .links,
      .social-media {
        width: 33%;
        margin-bottom: 55px;
      }

      .subscribe,
      address {
        width: 50%;
      }
    }
  }
}

@media (max-width: 767px) {
  .about {
    .specialized-service,
    .work,
    .hear .wrapper {
      width: 88%;
    }

    header {
      height: 267px;
      padding: 10px;

      .navbar {
        height: 70px;
        padding: 0 20px;
        top: 13px;
      }

      .headsearch form {
        height: 50px;
      }

      #menubar,
      #close {
        width: 25px;
        margin: 0;
      }

      .toggle-menu {
        top: 55px;
        width: 100%;
        padding: 10px 15px;

        a {
          font-size: 14px;
        }
      }

      .menu-item {
        padding: 7px 0;
      }

      h1 {
        font-size: 36px;
      }
    }

    .navbar-brand {
      font-size: 20px;
    }

    .specialized-service {
      padding: 39px 0 90px;

      h2 {
        margin-bottom: 20px;
        font-size: 24px;
      }

      .industry-description,
      .service-description {
        width: 93%;
        font-size: 14px;
        line-height: 30px;
      }

      .industry-description {
        margin-bottom: 47px;
      }

      h3 {
        margin: 92px 0 56px;
        font-size: 24px;
        line-height: 33px;

        &:nth-of-type(1) {
          display: none;
        }

        &:nth-of-type(2) {
          display: block !important;
        }

        span::after {
          border-bottom: 10px solid $primary-color;
          bottom: 2px;
        }
      }
    }

    .between-personal {
      display: block;

      .btn {
        width: 100%;
        height: 72px;
      }

      .between {
        margin-bottom: 15px;
      }

      a {
        font-size: 20px;
      }
    }

    .parallex {
      height: 300px;
    }

    .work {
      padding: 84px 0 65px;

      h3 {
        font-size: 24px;
      }

      p {
        width: 93%;
        margin: 23px auto;
        font-size: 14px;
        line-height: 30px;
      }
    }

    .hear .wrapper {
      padding: 50px 0;

      h3 {
        font-size: 24px;
        line-height: 33px;
      }

      p {
        width: 68%;
        margin: 6px auto 52px;
        font-size: 14px;
        line-height: 23px;
      }

      .info {
        li {
          width: 100%;
          height: 72px;
          margin-bottom: 15px;

          span {
            font-size: 20px;
          }

          img {
            width: 20px;
          }

          .img-wrapper {
            margin-right: 20px;
          }
        }
      }
    }

    footer {
      padding: 60px 20px;

      .logo {
        order: 1;

        p {
          display: none;
        }
      }

      .links {
        order: 3;

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          font-size: 24px;
        }
      }

      .social-media {
        order: 4;
      }

      .subscribe {
        order: 2;

        p {
          font-size: 18px;
        }

        input,
        button {
          height: 70px;
          font-size: 20px;
        }

        input {
          width: 75%;
          padding: 15px;
        }

        button {
          width: 25%;
        }
      }

      .address {
        order: 5;
      }

      .logo,
      .links,
      .social-media,
      .subscribe,
      .address {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
      }

      .address {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 25px;

        p {
          color: $white;
        }
      }

      .logo,
      .links ul,
      .social-media ul {
        height: 100%;
      }

      .navbar-brand {
        margin-bottom: 0;
        font-size: 35px;
      }

      .social-media {
        span {
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
        }

        .fa {
          margin: 0;
          font-size: 28px;
        }
      }
    }
  }
}
