@import '_variables';
@import '_about';
@import '_find-job';
@import '_candidates-contract';
@import '_single-job';
@import '_personal-search';
@import '_city-office';
@import '_professions';
@import '_terms-business';
@import '_contacts';
@import '_homepage';
@import '_just-cards';

// Fonts
@font-face {
  font-family: ParRegular;
  src: url(../fonts/ParachuteRegular.otf);
}

@font-face {
  font-family: ParMedium;
  src: url(../fonts/ParachuteMedium.otf);
}

@font-face {
  font-family: ParBold;
  src: url(../fonts/ParachuteBold.otf);
}

@font-face {
  font-family: Dock40;
  src: url(../fonts/DOCK-40.ttf);
}

@font-face {
  font-family: PFRegular;
  src: url('./../assets/fonts/PFDINDisplayPro-Regular.eot');
  src: url('./../assets/fonts/PFDINDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../assets/fonts/PFDINDisplayPro-Regular.woff2') format('woff2'),
    url('./../assets/fonts/PFDINDisplayPro-Regular.woff') format('woff'),
    url('./../assets/fonts/PFDINDisplayPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: PFMedium;
  src: url('./../assets/fonts/PFDINDisplayPro-Medium.eot');
  src: url('./../assets/fonts/PFDINDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../assets/fonts/PFDINDisplayPro-Medium.woff2') format('woff2'),
    url('./../assets/fonts/PFDINDisplayPro-Medium.woff') format('woff'),
    url('./../assets/fonts/PFDINDisplayPro-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: PFBold;
  src: url('./../assets/fonts/PFDINDisplayPro-Bold.eot');
  src: url('./../assets/fonts/PFDINDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./../assets/fonts/PFDINDisplayPro-Bold.woff2') format('woff2'),
    url('./../assets/fonts/PFDINDisplayPro-Bold.woff') format('woff'),
    url('./../assets/fonts/PFDINDisplayPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

// frameWork
* {
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}

body {
  overflow-x: hidden;
  font-family: ParRegular;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: ParBold;
}

p {
  color: $dark-gray;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

a:hover {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: none;
}

// navbar
header .overlay {
  @include overlay;
}

#toggleMenu {
  opacity: 0;
}

header.display-menu {
  .background-behind,
  #close,
  #toggleMenu {
    opacity: 1;
  }

  #toggleMenu,
  .background-behind {
    visibility: visible;
  }

  #close {
    height: auto;
  }

  #menubar {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 96%;
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0px 3px 30px $nav-shadow;
  @include flexBetween;
  @include top(31px);
  @include height(100px);
  @include padding(left, 40px);
  @include padding(right, 40px);
}

#menubar {
  width: 30px;
  transition: opacity 0.8s ease-in-out;
  cursor: pointer;
}

.navbar-brand {
  margin: 0;

  .img-wrapper {
    width: 142px;
  }
}

#close {
  overflow: hidden;
  width: 30px;
  height: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  cursor: pointer;

  img {
    width: 24px;
  }
}

.sub-nav-link {
  display: none;
}

.menubar-icon {
  @include margin(right, 61px);
}

.background-behind {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.8s ease-in-out;
  visibility: hidden;
}

.toggle-menu {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 4;
  overflow: auto;
  width: 300px;
  visibility: hidden;
  max-height: 400px;
  padding: 20px 30px;
  background-color: $white;
  border-radius: 6px;
  transition: all 0.8s ease-in-out;

  a {
    width: 100%;
    color: $black;
    @include flexBetween;

    &:hover {
      color: #b1c110;
    }
  }

  .fa-angle-down {
    color: $primary-color;
    font-size: 20px;
  }
}

.menu-item {
  padding: 10px 0;
}

.submenu-item {
  padding: 5px 0;

  a {
    color: $dark-gray;
  }
}

.crumb {
  color: $light-gray;
  font-family: ParRegular;
  @include fontSize(20px);

  .fa {
    @include margin(left, 20px);
    @include margin(right, 20px);
  }
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section-right,
.nav-section-left {
  width: 40%;
}

.nav-section-right {
  display: flex;
  justify-content: flex-end;
}

.lang-switch {
  border-radius: 20px;
  font-size: 11px;
  font-family: ParRegular;
  box-shadow: 0px 3px 10px #4937371a;
  line-height: 19px;
  cursor: pointer;
  @include flexCenter;
  @include margin(right, 106px);

  ul {
    height: 25px;
    display: flex;
  }

  a {
    color: $dark-gray;
  }

  li {
    border-radius: 20px;
    text-align: center;
    transition: opacity 0.8s ease-in-out;
    @include width(40px);
    @include height(38px);
    @include lineHeight(40px);

    a {
      @include fontSize(15px);
    }
  }

  li.active {
    background-color: $primary-color;

    a {
      color: $white;
    }
  }
}

.form-control:focus {
  border-color: transparent;
}

.headsearch,
.menu-form {
  position: relative;
  border: 0;

  input {
    padding: 5px 20px 5px 5px;
    color: $light-gray;
    border: 0;
    font-size: 13px;
    @include width(185px);
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: $light-gray;
    border: 0;
  }

  .mob-search {
    display: none;
  }

  .fa-search {
    @include fontSize(20px);
  }

  ::placeholder {
    color: #dddddd;
    @include fontSize(19px);
  }
}

.menu-form {
  align-items: center;

  input {
    width: 100%;
    padding: 10px 20px 10px 5px;
    color: $black;
    border: 1px solid $dark-gray;
    border-radius: 6px;
  }

  button {
    padding: 10px 5px;
  }
}

.form-control:focus,
.custom-select:focus,
.btn:focus {
  box-shadow: none;
}

// Footer
footer {
  min-height: 177px;
  padding: 25px 20px;
  background-color: $footer;
  display: flex;
  @include flexBetween;

  a {
    color: $white;
  }

  .navbar-brand {
    margin: 0;
    margin-bottom: 91px;
    color: $white;
  }

  .logo,
  .copyright {
    p {
      @include fontSize(12px);
    }
  }

  .links,
  .social-media {
    line-height: 26px;

    ul {
      @include flexColumnBetween;
    }

    a {
      @include fontSize(18px);
    }
  }

  .social-media {
    .fa {
      margin-right: 10px;
    }
  }

  .subscribe {
    p {
      margin-bottom: 10px;
      @include fontSize(18px);
    }

    input {
      width: 180px;
      height: 35px;
      background-color: $transparent;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    button {
      width: 50px;
      height: 35px;
      margin-left: -5px;
      color: $primary-color;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-family: ParMedium;
    }

    input,
    button {
      padding: 8px;
      border: 1px solid $dark-gray;
      font-size: 9px;
    }
  }

  .address {
    margin-top: 5px;
    line-height: 17px;
    @include fontSize(18px);
  }

  .copyright {
    display: none;
  }
}

// Contact Form
.contact-form {
  background-color: $hear-background;
  color: $white;

  .wrapper {
    width: 46%;
    margin: 0 auto;
    padding: 85px 0 62px;
  }

  h3 {
    padding-right: 8px;
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
    @include fontSize(60px);

    span {
      color: $primary-color;
    }
  }

  p {
    margin: 15px 0 52px;
    color: $white;
    text-align: center;
    @include fontSize(25px);
  }

  .info {
    ul {
      @include flexColumnCenter;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      width: 235px;
      height: 50px;
      padding-left: 14px;
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 6px;
      display: flex;
      align-items: center;
    }

    .img-wrapper {
      width: 15px;
      margin-right: 10px;

      &.form {
        height: 30px;
      }
    }

    span {
      color: $primary-color;
      font-family: ParMedium;
      @include fontSize(21px);
    }
  }
}

.select2-container,
.select2-dropdown,
.select2-search,
.select2-results {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.select2-container--default .select2-selection--single {
  border: 0
}

// Talk Section
.section-talk {
  width: 80%;
  margin: 0 auto;
  padding: 136px 0;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 15px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 21px 16px;
  }

  li {
    height: 49px;
    padding: 0 10px;
    border: 1px solid #b1c110;
    border-radius: 5px;
    @include flexBetween;
  }

  .section-talk-town {
    color: #000000;
    font-size: 14px;

    a {
      color: #000000;

      &:hover {
        color: #b1c110;
      }
    }
  }

  .talk-icons {
    display: flex;
  }

  .icon-wrapper {
    width: 25px;
    height: 25px;
    background-color: #b1c110;
    border-radius: 5px;
    @include flexCenter;

    &:first-child {
      margin-right: 5px;
    }

    .fa {
      font-size: 15px;
      color: #fff;
    }
  }

  h2 {
    font-size: 56px;
    line-height: 59px;
  }

  .section-talk-wanna {
    color: #b1c110;
  }

  .section-talk-talk {
    color: #000;
  }

  form {
    display: none;
  }
}

.select2-container {
  z-index: 3;
}

// Contact US
.contact-us {
  height: 489px;
  display: grid;
  grid-template-columns: 67% 33%;

  iframe {
    width: 100%;
    height: 100%;
  }

  .contact-us-content {
    background-color: #333333;
    @include flexCenter;
  }

  .contact-us-info {
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 17px;
    color: #ffffff;
    font-size: 35px;
    font-family: ParMedium;
  }

  .address {
    margin-bottom: 18px;
  }

  h4 {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 17px;
  }

  p {
    color: #ffffff80;
    font-size: 20px;
  }

  .links {
    margin-bottom: 40px;

    a {
      width: fit-content;
      display: block;

      &:first-child {
        margin-bottom: 11px;
      }
    }

    span {
      color: #ffffff;
      font-size: 13px;
      border-bottom: 1px solid #b1c100;
    }

    .fa {
      margin-left: 9px;
      color: #b1c100;
      font-size: 14px;
    }
  }

  .contact-info {
    li {
      margin-bottom: 11px;
    }

    a {
      color: #ffffff;
      font-size: 14px;
    }

    .fa {
      width: 15px;
      margin-right: 9px;
      color: #b1c100;
    }
  }
}

// For Change
.for-change {
  padding: 50px 0;
  background-color: #b1c110;

  .select2-container {
    width: 100% !important;
  }

  .for-change-container {
    width: 60%;
    margin: 0 auto;
  }

  .for-change-heading {
    margin-bottom: 34px;
    text-transform: uppercase;
    text-align: center;

    h2 {
      color: #ffffff;
      font-size: 53px;
    }

    span {
      color: #000000;
    }

    p {
      color: #ffffff;
      font-size: 16px;
      font-family: ParMedium;
    }
  }

  .form-group {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;

    label {
      margin-bottom: 5px;
      color: #fff;
      font-size: 14px;
      display: block;
    }

    input {
      height: 45px;
      border: 0;
      border-radius: 10px;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    }
  }

  .radio {
    .form-item {
      position: relative;
      @include flexBetween;
    }

    .display-radio-job {
      position: absolute;
      top: 35px;
      z-index: 3;
      width: 100%;
      height: 43px;
      padding: 0 10px;
      background-color: #2f2f2f;
      border-radius: 10px;
      display: flex;
      align-items: center;

      ::placeholder {
        color: transparent;
      }

      span {
        width: 25%;
        margin-right: 15px;
        color: #ffffff;
        font-size: 13px;
      }

      input {
        width: 75%;
        height: 27px;
        padding: 0 10px;
        background-color: transparent;
        color: #fff;
        font-size: 13px;
        border: 1px solid #fff;
      }
    }

    .display-radio {
      display: none;
    }

    label {
      margin-bottom: 0;
    }

    .specific-employees {
      position: absolute;
      top: 35px;
      overflow: hidden;
      z-index: 3;
      width: 100%;
      background-color: hsl(66, 100%, 30%);
      border-radius: 10px;
      display: none;

      .display-radio-job {
        position: static;
        border-radius: 0;
        overflow: hidden;
      }

      ::placeholder {
        color: transparent;
      }
    }

    .specific-employees-list {
      padding: 10px 15px;
      max-height: 400px;
      overflow-y: auto;

      ul {
        padding: 5px 20px;
      }

      .heading-item {
        color: #ffffff;
        font-size: 13px;
      }

      li {
        color: #b1c110;
        font-size: 13px;
        font-family: ParBold;
      }
    }

    .specific-employees-list-wrapper {
      margin-top: 10px;
    }

    .checked + .display-radio {
      display: flex;
    }

    .checked + .specific-employees {
      display: block;
    }
  }

  .onoffswitch {
    position: relative;
    width: 62px;
    height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .form-group .onoffswitch-checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .onoffswitch-label {
    height: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
  }

  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }

  .onoffswitch-inner:before,
  .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 7px;
    color: white;
    font-family: ParBold;
    box-sizing: border-box;
  }

  .onoffswitch-inner:before {
    content: 'YES';
    padding-left: 15px;
    background-color: #c5d806;
    color: #ffffff;
  }

  .onoffswitch-inner:after {
    content: 'NO';
    padding-right: 15px;
    background-color: #8c980e;
    color: #ffffff;
    text-align: right;
  }

  .onoffswitch-switch {
    display: block;
    width: 22px;
    height: 22px;
    margin: 3px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }

  .file-upload {
    display: block;

    .dz-button {
      width: 100%;
      height: 44px;
      background-color: #bcc93f;
      font-size: 14px;
      font-family: ParRegular;
      color: #fff;
      border: 2px dashed #fff;
      border-radius: 10px;
    }

    .dz-started {
      width: 100%;
      height: 220px;
      padding: 5px;
      background-color: #bcc93f;
      font-size: 14px;
      font-family: ParRegular;
      color: #fff;
      border: 2px dashed #fff;
      border-radius: 10px;
      text-align: center;
      display: flex;
      cursor: pointer;

      .dz-button {
        display: none;
      }

      .dz-preview {
        width: 170px;
        padding: 15px;
        background-color: #e7e7e7;
        color: #000;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .dz-image {
        display: none;
      }

      .dz-remove {
        color: #b1c110;
      }
    }
  }

  .form-textarea {
    display: block;

    textarea {
      height: 44px;
      bottom: 0;
    }
  }

  .for-change-btn {
    @include flexCenter;

    .btn {
      width: 210px;
      height: 50.37px;
      background-color: #fff;
      color: #b1c100;
      font-size: 14px;
      font-family: ParMedium;
      text-transform: uppercase;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
    }
  }
}

// Media Query
@media (max-width: 1199px) {
  .section-talk li {
    padding: 0 5px;
  }

  .for-change .for-change-container {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .section-talk {
    padding: 74px 0;
    display: block;

    ul {
      margin-bottom: 45px;
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      padding: 0 15px;
    }

    h2 {
      font-size: 104px;
      line-height: 97px;
    }
  }

  .contact-us {
    height: auto;
    grid-template-columns: repeat(1, 1fr);

    .map {
      height: 490px;
    }

    .contact-us-content {
      padding: 49px 0;
    }

    .contact-us-info {
      @include flexCenter;
    }

    .links {
      margin-bottom: 0;
    }

    .contact-info {
      width: 40%;
      margin-left: 40px;
    }
  }

  .for-change {
    padding: 70px 0;

    .for-change-container {
      width: 60%;
    }

    .form-group {
      margin-bottom: 22px;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 22px;

      input,
      textarea {
        height: 50px;
      }
    }

    .select2-container .select2-selection--single {
      height: 50px;
    }

    .for-change-btn .btn {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .section-talk {
    width: 90%;
    padding: 157px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      display: none;
    }

    h2 {
      font-size: 80px;
      line-height: 80px;
    }

    form {
      width: 100%;
      display: block;
    }

    .select2-container .select2-selection--single {
      background-color: #b1c100;
      border: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #fff;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #fff transparent transparent transparent;
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #fff transparent;
    }
  }

  .contact-us {
    .map {
      display: none;
    }

    .contact-us-content {
      padding: 53px 0;
      display: block;
    }

    .contact-us-info {
      display: block;
    }

    h2 {
      margin-bottom: 35px;
      font-size: 36px;
      text-align: center;
    }

    h4 {
      margin-bottom: 15px;
      font-size: 25px;
    }

    .address {
      margin-bottom: 25px;
    }

    .links {
      margin-bottom: 43px;

      a:first-child {
        margin-bottom: 15px;
      }

      span {
        font-size: 19px;
      }
    }

    .contact-info {
      width: 100%;
      margin-left: 0;

      li {
        margin-bottom: 15px;
      }
    }
  }

  .for-change {
    .for-change-container {
      width: 90%;

      h2 {
        margin-bottom: 10px;
        font-size: 36px;
      }
    }

    .form-group {
      margin-bottom: 33px;
      grid-gap: 33px;

      input {
        height: 70px;
        font-size: 24px;
      }

      textarea {
        height: 80px;
      }

      label {
        font-size: 20px;
      }
    }

    .radio {
      label {
        width: 70%;
      }

      .onoffswitch {
        width: 88px;
        height: 40px;

        .onoffswitch-label {
          width: 100%;
        }

        .onoffswitch-inner {
          height: 100%;
        }

        ::before,
        ::after {
          height: 100%;
          font-size: 12px;
          line-height: 40px;
        }

        ::after {
          padding-right: 20px;
        }

        ::before {
          padding-left: 20px;
        }

        .onoffswitch-switch {
          width: 32px;
          height: 32px;
          margin: 4px;
          right: 48px;
        }
      }

      .specific-employees {
        top: 60px;

        .specific-employees-list {
          .heading-item,
          li {
            font-size: 20px;
          }

          li {
            margin-top: 5px;
          }
        }
      }

      .display-radio-job {
        top: 60px;
        height: 63px;
        padding: 0;
        background-color: #b1c110;

        span {
          display: none;
        }

        input {
          height: 100%;
          width: 100%;
          background-color: #b1c110;
          color: #fff;
          font-size: 20px;
          border: 2px solid #fff;
        }

        ::placeholder {
          color: #e5e5e5;
        }
      }
    }

    .for-change-btn .btn {
      height: 80px;
      font-size: 24px;
    }

    .file-upload .dz-button {
      height: 80px;
      font-size: 24px;
      line-height: 30px;
    }

    ::placeholder {
      color: #969696;
    }
  }

  .select2-selection.select2-selection--single {
    font-size: 24px;
  }
}

@import '_responsive';
